@import 'tailwindcss';

/* Theming */
:root {
	--noto: 'Noto Sans';
	--share: 'Share';
	--tech: 'Share Tech';
	--archivo: 'Archivo Black';
	--geist: 'Geist';
}

/* Containers */
section {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	width: 100%;
}

/* Typography */

.title {
	font-family: var(--geist);
	font-size: 1.5rem;
	font-weight: 800;
}

.subtitle {
	font-family: var(--geist);
	font-size: 1.25rem;
	font-weight: 600;
}

